@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// absolute center

@mixin absCenter{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

}



// MEDIA QUERY MANAGER
/*

0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px: Tablet Landscape
{1200-1800}:  Normal Styles Apply
1800 + :      Big Desktop


*/

@mixin respond-phone {
  @media (max-width:600px) { @content };
}

/* $breakpoint argument choices:
-Phone: 600px/16 = 37.5em
-Tab-port: 900px/16 = 56.25em
-Tab-land: 1200px/16 = 75em
-Big-Desktop: 1800px/16 = 112.5em
1em = 16px




*/

// Order: Base  + typography > general layout + grid > page layout > components 

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width:37.5em) { @content };
  }

  @if $breakpoint == tab-port {
    @media (max-width:56.25em) { @content };
  }

  @if $breakpoint == tab-land {
    @media (max-width:75em) { @content };
  }

  @if $breakpoint == big-desktop {
    @media (min-width:112.5em) { @content };
  }
}


